$blue:                       #283645;
$green:                      #2aab6d;
$pink:                       #d22856;
$gray:                       #f2f2f2;
$gray-darken:                #e5e5e5;
$blue-darken:                #1d2631;


$color-page:                 white;
$color-title:                black;
$color-primary:              $blue;
$color-secondary:            $gray;
$color-brand:                $pink;
$color-bg-apps:              $blue-darken;
$color-border:               $gray-darken;
$color-button:               $green;


$font:                       'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;


$width-gutter-mobile:        6.25%;
$width-gutter-tablet:        calc($width-gutter-mobile * 2);
$width-gutter-desktop:       calc($width-gutter-mobile * 6.5);
$width-mobile:               100%;
$width-tablet:               700px;
$width-desktop:              1200px;
$width-mobile-content:       calc($width-mobile - $width-gutter-mobile * 2);
$width-mobile-content-minus: calc(($width-mobile - $width-gutter-mobile * 2) * -1);


@custom-media --mobile-viewport (max-width: 699px);
@custom-media --tablet-viewport (min-width: 700px);
@custom-media --desktop-viewport (min-width: 1200px);


@define-mixin mobile-plus $property, $mobile-value, $value {
  $(property): $(mobile-value);
  @media (--tablet-viewport) {
    $(property): $(value);
  }
}

@define-mixin clearfix {
    &::after {
      display: table;
      clear: both;
      content: "";
    }
}

@define-mixin pink {
  color: $color-brand;
  text-transform: uppercase;
}


@define-mixin width-page {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;

  @media (--mobile-viewport) {
    width: $width-mobile;
  }

  @media (--tablet-viewport) {
    width: $width-tablet;
  }

  @media (--desktop-viewport) {
    width: $width-desktop;
  }
}


@define-mixin width-gutter $property, $top, $bottom {
  $(property)-top: $(top);
  $(property)-bottom: $(bottom);
  @media (--mobile-viewport) {
    $(property)-left: $width-gutter-mobile;
    $(property)-right: $width-gutter-mobile;
  }

  @media (--tablet-viewport) {
    $(property)-left: $width-gutter-tablet;
    $(property)-right: $width-gutter-tablet;
  }

  @media (--desktop-viewport) {
    $(property)-left: $width-gutter-desktop;
    $(property)-right: $width-gutter-desktop;
  }
}


@define-mixin responsive-property $property, $value-mobile, $value-tablet, $value-desktop {
  @media (--mobile-viewport) {
    $(property): $(value-mobile);
  }

  @media (--tablet-viewport) {
    $(property): $(value-tablet);
  }

  @media (--desktop-viewport) {
    $(property): $(value-desktop);
  }
}
