.apps {
  color: $color-page;
  text-align: center;

  @media (--tablet-viewport) {
  }
  &__hand {
    z-index: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    background-position: 0 100%;
    background-repeat: no-repeat;

    @media (--mobile-viewport) {
      margin: 100px auto 0;
      height: 286px;
      background-image: url(../img/iphone-hand-mobile@1x.png);

      @media (--retina) {
        background-image: url(../img/iphone-hand-mobile@2x.png);
        background-size: 258px auto;
      }
    }

    @media (--tablet-viewport-plus) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 545px;
      background-image: url(../img/iphone-hand-tablet@1x.png);
      background-position: 50% 100%;

      @media (--retina) {
        background-image: url(../img/iphone-hand-tablet@2x.png);
        background-size: 700px auto;
      }
    }

    @media (--desktop-viewport) {
      height: 645px;
      background-image: url(../img/iphone-hand-desktop@1x.png);
      background-position: 50% 100%;

      @media (--retina) {
        background-image: url(../img/iphone-hand-desktop@2x.png);
        background-size: 1050px auto;
      }
    }
  }

  &__title {
    margin: 0 30px 30px;
    font-weight: 300;
    line-height: 1.20;

    @media (--mobile-viewport) {
      display: none;
    }

    @media (--tablet-viewport) {
      font-size: 40px;
    }

    @media (--desktop-viewport) {
      margin-bottom: 50px;
      font-size: 50px;
    }

  }

  &__links {
    position: relative;
    z-index: 1;

    @media (--mobile-viewport) {
      padding: 30px 0 35px;
      background-color: $color-bg-apps;
    }

    @media (--tablet-viewport) {
      padding: 90px 0 110px;
    }

    @media (--desktop-viewport) {
      padding: 115px 0 120px;
    }
  }

  &__links-inner {
    max-width: 300px;

    @media (--mobile-viewport) {
      margin: 0 auto;
      width: $width-mobile-content;
    }
  }

  &__download {
    display: block;
    padding: 15px;
    border: 3px solid $color-page;
    border-radius: 30px;
    color: $color-page;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
  }

  &__logos {
    display: flex;
    margin-bottom: 28px;
    max-width: 67%;

    align-items: center;
    justify-content: space-between;
    @media (--mobile-viewport) {
      margin: 30px auto 25px;
    }

    @media (--tablet-viewport) {
      margin: 45px auto 30px;
    }

    @media (--desktop-viewport) {
      margin: 60px auto 50px;
    }
  }

  &__link {

  }

  &__description {
    margin: 0px;
    color: $color-page;
    line-height: 1.71;
  }
}
