.contacts {
  padding-bottom: 200px;
  background: $color-secondary url(../img/bg-map-mobile@1x.png) 0 100% no-repeat;
  text-align: center;

  &__inner {
    padding: 40px $width-gutter;
    background-color: $color-page;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: $font-weight-light;
    font-size: 24px;
  }

  &__items {

  }

  &__item {
    margin-bottom: 20px;
  }

  &__label {
    font-size: 18px;
  }

  &__data {
    color: $color-brand;
    font-weight: $font-weight-light;
    font-size: 24px;
  }
}
