.contacts {
  text-align: center;

  &__inner {
    background-color: $color-page;

    @mixin width-page;
    @mixin width-gutter padding, 40px, 40px;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: $font-weight-light;
    font-size: 24px;
  }

  &__items {

  }

  &__item {
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;

    @media (--tablet-viewport) {
      width: 305px;
    }

  }

  &__label {
    font-size: 18px;
  }

  &__data {
    color: $color-brand;
    font-weight: $font-weight-light;
    font-size: 24px;
  }

  &__map {
    height: 200px;
    background: $color-secondary url(../img/bg-map-mobile@1x.png) 0 100% no-repeat;
  }
}
