.contest {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  @media (--tablet-viewport) {
    margin: 0 auto;
    padding: 30px 0;
    width: $width-tablet-content;
  }

  @media (--desktop-viewport) {
    flex-direction: row;
    margin: 0 auto;
    width: $width-desktop-content;

    justify-content: space-between;
  }
  &__item-wrapper {
    @media (--mobile-viewport) {
      padding: 40px 0;

      &:nth-of-type(even) {
        background-color: $color-secondary;
      }

      &:nth-of-type(1) {
        order: 1;
      }

      &:nth-of-type(2) {
        order: 4;
      }

      &:nth-of-type(3) {
        order: 3;
      }

      &:nth-of-type(4) {
        order: 2;
      }

      &:nth-of-type(5) {
        order: 5;
      }
    }

    @media (--tablet-viewport-plus) {
      margin-bottom: 60px;
    }

    @media (--desktop-viewport) {
      margin-bottom: 60px;
      width: 100%;

      &:nth-of-type(-n+2) {
        width: 435px;
      }
    }
  }

  &__item {
    box-sizing: border-box;
    height: 100%;
    border: none;

    @media (--mobile-viewport) {
      margin: 0 auto;
      width: $width-mobile-content;
    }

    @media (--tablet-viewport-plus) {
      &:not(&--name) {
        padding: 20px 60px;

        @mixin border-form;
      }
    }
  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: space-between;
    &--achievements {
      @media (--desktop-viewport) {
        flex-direction: row;

        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    &--contacts {
      @media (--desktop-viewport) {
        flex-direction: row;

        justify-content: stretch;

      }
    }
  }

  &__field {
    display: flex;

    &--name {
      align-items: center;
    }

    &--contacts {
      @media (--desktop-viewport) {
        flex-direction: column-reverse;
        width: 375px;
      }
    }
    @media (--mobile-viewport) {
      flex-direction: column;

      align-items: flex-start;
    }
  }

  &__label {
    display: block;
    margin: 5px 24px;
    line-height: 1;

    @mixin pink;
    &--textarea {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__textfield {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 24px;
    width: 100%;
    background-color: transparent;
    color: $color-primary;
    font-size: 18px;
    font-family: $font;
    line-height: $line-height-secondary;

    &:hover {
      border-color: $color-primary;
    }

    &:focus {
      outline: none;
      border-color: $color-brand;
    }
    @mixin border-form;
    &::placeholder {
      color: $color-primary;
    }

    &--contacts {
      padding-right: 70px;
    }
  }

  &__input-wrapper {
    position: relative;

    &::before {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 60px;
      height: 100%;
      background-color: $color-border;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      content: '';
    }

    &--email {
      &::before {
        background-image: svg-load('../img/icon-mail.svg', fill=$color-brand);
      }
    }

    &--phone {
      &::before {
        background-image: svg-load('../img/icon-phone.svg', fill=$color-brand);
      }
    }
  }

  &__description {
    padding: 0 30px;
    text-align: center;
    line-height: 18px;

    @mixin pink;
  }

  &__option {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0 0 35px;
    padding: 5px 0 5px 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: $line-height-secondary;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 35px;
      border: 2px solid $color-border;
      background-color: $color-page;
      content: '';
    }

    &:hover {
      &::before  {
        border-color: $color-primary;
      }
    }

    &:active {
      &::before  {
        border-color: $color-brand;
      }
    }

    &--radio {
      &::before {
        border-radius: 50%;
      }
    }

    &--chekbox {
      &::before {
        border-radius: 2px;
      }
    }
  }

  &__radiobtn {
    display: none;

    &:checked + label::after {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $color-brand;
      content: '';
    }
  }

  &__checkbox {
    display: none;

    &:checked + label::after {
      position: absolute;
      top: 11px;
      left: 9px;
      width: 22px;
      height: 16px;
      background: svg-load('../img/icon-yes.svg', fill=$color-brand) no-repeat 0 0;
      content: '';
    }
  }

  &__action {
    display: flex;
    width: 100%;

    justify-content: space-between;
    order: 6;
    @media (--mobile-viewport) {
      margin: 0 auto;
      width: $width-mobile-content;
    }
  }

  &__submit {
    padding: 15px 55px;
    border: 2px solid $color-button;
    border-radius: 3px;
    background-color: $color-button;
    color: $color-page;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: $font;
    line-height: 1.67;

    &:hover {
      border-color: $color-button-hover;
      background-color: $color-button-hover;
    }

    &:active {
      color: $color-page-alpha-medium;
    }

    &:disabled {
      border-color: $color-border;
      background-color: $color-border;
    }
  }

  &__star {
    padding: 0  0 20px 0;
    text-align: center;
    text-transform: uppercase;

    sup {
      @mixin pink;
    }
  }
}
