.contest {
  &__item {
    border: none;

    @mixin width-gutter padding, 30px, 30px;
    &--even {}

    &--odd {
      background-color: $color-secondary;
    }
  }

  &__item-inner {
    @mixin width-page;
  }

  &__label {
    display: block;
    margin: 5px 24px;
    line-height: 1;

    @mixin pink;
    &--textarea {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__textfield {
    margin-bottom: 20px;
  }

  &__desc {
    margin-bottom: 20px;
    text-align: center;
    line-height: 18px;

    @mixin pink;
  }

  &__option {
    display: block;
    margin: 20px 0;
    font-weight: $font-weight-normal;
    font-size: 18px;
  }

  &__checkbox {}

  &__action {
    @mixin width-page;
  }

  &__submit {
    text-align: center;

    @mixin width-gutter margin, 20px, 20px;
  }

  &__star {
    text-align: center;
    text-transform: uppercase;

    @mixin width-gutter padding, 0, 20px;
    sup {
      @mixin pink;
    }
  }
}
