.footer {
  text-align: center;

  &__branding {
    display: flex;

    justify-content: space-between;
    align-items: center;
    @media (--mobile-viewport) {
      flex-direction: column;
      padding: 40px 0 0;

      align-items: center;
    }

    @media (--tablet-viewport) {
      padding: 40px 0;
    }

    @media (--desktop-viewport) {
      padding: 70px 0;
    }
    &--front {
      @media (--mobile-viewport) {
        display: none;
      }
    }
  }

  &__logo {
    margin-bottom: 15px;
  }

  &__logo-link {
    display: block;

    @media (--mobile-viewport) {
      margin-bottom: 25px;
    }
  }

  &__social {
    @media (--mobile-viewport) {
      margin-bottom: 35px;
    }
  }

  &__copyright {
    display: flex;

    align-items: center;
    @media (--desktop-viewport) {
      font-size: 18px;
    }
  }

  &__copyright-logo {
    display: block;
    margin-left: 12px;
    width: 28px;
    height: 35px;
    background-image: svg-load('../img/htmlacademy.svg', fill=$color-brand);
    background-position: 50% 50%;
    background-size: 41px 41px;
    background-repeat: no-repeat;

    &:hover {
      background-image: svg-load('../img/htmlacademy.svg', fill=$color-primary);
    }

    &:active {
      opacity: .1;
    }
  }
}
