.footer {
  text-align: center;

  &__branding {
    display: flex;

    justify-content: space-between;
    @media (--mobile-viewport) {
      flex-direction: column;
      padding: 30px 0;

      align-items: center;
    }

    @media (--tablet-viewport) {
      padding: 40px 0;
    }

    @media (--desktop-viewport) {
      padding: 80px 0;
    }

  }

  &__logo {
    @media (--tablet-viewport) {

    }
  }

  &__social {
    @media (--tablet-viewport) {

    }
  }

  &__copyright {
    display: flex;

    align-items: center;
    @media (--tablet-viewport) {

    }
  }

  &__copyright-logo {
    display: block;
    width: 41px;
    height: 41px;
    background-image: svg-load('../img/htmlacademy.svg', fill=$color-brand);
    background-position: 0 0;
    background-size: 41px 41px;
    background-repeat: no-repeat;

    &:hover {
      background-image: svg-load('../img/htmlacademy.svg', fill=$color-primary);
    }

    &:active {
      opacity: .1;
    }
  }
}
