.footer {
  text-align: center;

  &__branding {
    display: flex;

    justify-content: space-between;
    @media (--mobile-viewport) {
      flex-direction: column;
      padding: 30px 0;
    }

    @media (--tablet-viewport) {
      padding: 40px 0;
    }

    @media (--desktop-viewport) {
      padding: 80px 0;
    }

  }

  &__logo {
    @media (--tablet-viewport) {

    }
  }

  &__social {
    @media (--tablet-viewport) {

    }
  }

  &__copyright {
    @media (--tablet-viewport) {

    }
  }
}
