.header {
  background-color: $color-primary;
  background-position: 50% 100%;
  background-repeat: no-repeat;

  @media (--mobile-viewport) {
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-position-y: 0;

    @media (--retina) {
      background-image: url(../img/bg-back-mobile@2x.jpg);
      background-size: 700px auto;
    }
  }

  @media (--tablet-viewport) {
    background-image: url(../img/bg-back-tablet@1x.jpg);

    @media (--retina) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
      background-size: 1200px auto;
    }
  }

  @media (--desktop-viewport) {
    background-image: url(../img/bg-back-desktop@1x.jpg);

    @media (--retina) {
      background-image: url(../img/bg-back-desktop@2x.jpg);
      background-size: 2560px auto;
    }
  }
  &__branding {
    background-color: $color-bg-menu;
  }

  &__branding-inner {
    @media (--mobile-viewport) {
      overflow: hidden;
    }

    @media (--desktop-viewport) {
      display: flex;
      border: none;
      background: transparent;

      justify-content: space-between;
    }
  }

  &__logo {
    @media (--mobile-viewport) {
      margin-left: -70px;
      padding: 22px 0;
    }

    @media (--tablet-viewport) {
      padding: 27px 0 43px;
    }

    @media (--desktop-viewport) {
      padding: 22px 0;
    }
  }

  &__title {
    box-sizing: border-box;
    color: $color-page;
    text-align: center;
    font-weight: 300;
    line-height: $line-height-small;

    @media (--mobile-viewport) {
      padding: 30px 0 50px;
      min-height: 170px;
      font-size: 24px;
    }

    @media (--tablet-viewport-plus) {
      padding: 70px 0;
      min-height: 330px;
      font-size: 50px
    }

    @media (--desktop-viewport) {
      padding: 70px 0 100px;
      min-height: 285px;
    }
  }

  &__info-wrapper {
    background-color: $color-page;
    text-align: center;
  }

  &__info {
    display: block;

    @media (--mobile-viewport) {
      padding: 45px 0;
    }

    @media (--tablet-viewport-plus) {
      padding: 70px 0;
      font-size: 18px
    }

    @media (--desktop-viewport) {
      padding: 70px 0 100px;
      min-height: 285px;
    }
  }
}
