.header {
  background: $color-primary url(../img/bg-back-mobile@1x.jpg) 50% 0 no-repeat;

  &__branding {
    background-color: $color-bg-menu;
  }

  &__branding-inner {
    @media (--desktop-viewport) {
      display: flex;
      border: none;
      background: transparent;

      justify-content: space-between;
    }
  }

  &__logo {
    display: block;

    @media (--mobile-viewport) {
      padding: 22px 0;
    }

    @media (--tablet-viewport) {
      padding: 27px 0 43px;
    }

    @media (--desktop-viewport) {
      padding: 22px 0;
    }
  }

  &__title {
    color: $color-page;
    text-align: center;
    font-weight: 300;
    font-size: 24px;

    @mixin width-gutter padding, 90px, 90px;
  }

  &__info-wrapper {
    background-color: $color-page;
    text-align: center;
  }

  &__info {
    display: block;

    @mixin width-gutter padding, 45px, 45px;
  }
}
