.intro {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;

  @media (--tablet-viewport) {
    padding: 0 $width-gutter-tablet;
    width: $width-tablet;
  }

  @media (--desktop-viewport) {
    padding: 0 $width-gutter-desktop;
    width: $width-desktop;
  }
  &__inner {
    position: relative;
  }

  &__hand {
    box-sizing: border-box;
    width: 100%;
    background: transparent url(../img/iphone-hand-mobile@1x.png) 0 100% no-repeat;

    @media (--mobile-viewport) {
      margin: 0 auto;
      width: 320px;
    }

    @media (--tablet-viewport) {
      position: absolute;
      top: 0;
      left: 0;

    }

    @media (--desktop-viewport) {

    }
    @mixin responsive-property height, 320px, 620px, 745px;
  }
}


