.intro {
  background: $medium_dark url(../img/bg-back-mobile@1x.jpg) 50% 0 no-repeat;
  text-align: center;
  &__hand {
    background: transparent url(../img/iphone-hand-mobile@1x.png) 0 100% no-repeat;
    height: 286px;
    padding-top: 176px;
  }
  &__title {
    font-size: 24px;
    font-weight: 300;
    color: $page;
    height: 147px;
    padding: 90px $gutter 0;

  }
  &__info {
    background-color: $page;
    padding: 45px $gutter;
  }
}
