.main-menu {
  background-color: $color-primary;

  &__inner {
    @mixin width-gutter padding, 0, 0;
    @mixin width-page;
  }

  &__items {
    list-style: none;
    text-transform: uppercase;

    @media (--desktop-viewport) {
      float: right;
    }
  }

  &__item {
    display: block;
    padding: 15px;
    color: $color-page;
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: 18px;
    line-height: 1;

    @media (--desktop-viewport) {
      display: inline-block;
      padding: 40px;
      text-transform: none;
      font-weight: $font-weight-light;
    }
  }
}
