.panorama {
  &__image {
    display: block;
  }

  &__caption {
    padding: 10px 20px;
    background-color: $color-brand;
    color: $color-page;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
  }
}
