.photo-upload {
  background-color: $color-secondary;
  text-align: center;

  &__info-wrapper {
    background-color: $color-page;
  }

  &__info {
    @mixin width-gutter padding, 20px, 40px;
    @mixin width-page;
  }

  &__form {
    @mixin width-page;
    @mixin width-gutter padding, 20px, 40px;
    @mixin clearfix;
  }

  &__frame {
    @media (--tablet-viewport) {
      float: left;
      margin-right: 45px;
    }
  }

  &__tools {
    @media (--tablet-viewport) {
      float: right;
    }
  }

  &__controls {
    display: inline-block;
  }

  &__scale {
    display: block;
    margin-bottom: 25px;

    @media (--tablet-viewport) {
      display: inline-block;
    }
    &--crop {
      display: none;

      @media (--tablet-viewport) {
       display: inline-block;
      }
    }

    &--fill {
      display: none;

      @media (--tablet-viewport) {
        display: inline-block;
      }
    }

    &--bright {}
  }

  &__actions {
    border-top: 1px solid $color-border;

    @mixin width-gutter padding, 30px, 30px;
  }
}
