.photo-upload {
  background-color: $color-secondary;
  text-align: center;

  &__info-wrapper {
    background-color: $color-page;
  }

  &__info {
    @mixin width-gutter padding, 20px, 40px;
    @mixin width-page;
  }

  &__form {
    @mixin width-page;
  }

  &__frame {
    @mixin width-gutter padding, 20px, 20px;
  }

  &__controls {}

  &__scale {
    margin-bottom: 25px;
  }

  &__actions {
    border-top: 1px solid $color-border;

    @mixin width-gutter padding, 30px, 30px;
  }
}
