.photo-upload {
  background-color: $color-secondary;
  text-align: center;

  &__info-wrapper {
    background-color: $color-page;
  }

  &__info {
    padding: 20px $width-gutter 40px;

    @mixin page-width;
  }

  &__form {
    @mixin page-width;
  }

  &__frame {
    padding: 20px $width-gutter;
  }

  &__controls {}

  &__scale {
    margin-bottom: 25px;
  }

  &__actions {
    padding: 30px $width-gutter;
    border-top: 1px solid $color-border;
  }
}
