.price {
  overflow: hidden;
  padding: 30px 0;
  background-color: $color-secondary;
  text-transform: uppercase;

  &__inner {
    margin: 0 auto;

    @media (--mobile-viewport) {
      width: $width-mobile-content;
    }
  }

  &__table {
    display: table;

    @media (--mobile-viewport) {
      margin-right: $width-mobile-content-minus;
      margin-left: $width-mobile-content-minus;
    }
  }

  &__column {
    display: table-cell;
    width: $width-mobile-content;
  }

  &__item {
    padding: 24px;
    border-bottom: 2px solid $color-border;
    border-left: 2px solid $color-border;
    background-color: $color-page;
    line-height: 1;

    &--header {
      padding: 20px;
      border-bottom: none;
      background-color: $color-primary;
      color: $color-page;
      text-align: center;
      line-height: 30px;
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    font-size: 18px;
  }

  &__cost {
    font-weight: $font-weight-light;
    font-size: 24px;
  }
}
