.price {
  overflow: hidden;
  background-color: $color-secondary;

  &__inner {
    box-sizing: border-box;
    margin: 0 auto;

    @media (--mobile-viewport) {
      padding: 50px 0;
      width: calc($width-mobile - $width-gutter-mobile * 2);
      text-transform: uppercase;
    }

    @media (--tablet-viewport) {
      padding: 70px 0;
      width: $width-tablet-content;
    }

    @media (--desktop-viewport) {
      padding: 95px 0;
      width: $width-desktop-content;
    }

  }

  &__table {
    display: flex;

    align-items: flex-end;
    @media (--mobile-viewport) {
      margin: 0 calc(($width-mobile - $width-gutter-mobile * 2) * -1);
      margin-bottom: 40px;
    }
  }

  &__column {
    width: calc($width-mobile - $width-gutter-mobile * 2);

    @media (--mobile-viewport) {
      &:first-of-type {
        display: none;
      }
    }
  }

  &__item {
    padding: 23px;
    border-bottom: 2px solid $color-border;
    border-left: 2px solid $color-border;
    background-color: $color-page;
    line-height: 1;

    @media (--tablet-viewport) {
      padding: 18px;
    }

    @media (--desktop-viewport) {
      font-size: 18px;
    }
    &--header {
      padding: 12px 12px 20px;
      border-bottom: none;
      background-color: $color-primary;
      color: $color-page;
      text-align: center;
      text-transform: uppercase;

      @media (--tablet-viewport) {
        font-size: 16px;

      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: $line-height-primary;

    @media (--tablet-viewport) {
      font-size: 16px;
    }
  }

  &__cost {
    font-weight: 300;
    font-size: 24px;

    @media (--tablet-viewport) {
      font-size: 16px;
    }
  }

  &__switches {
    @media (--tablet-viewport-plus) {
      display: none;
    }
  }
}
