.promo {
  background-color: $color-secondary;
  text-align: center;

  &__header-wrapper {
    background-color: $color-page;
  }

  &__header {
    box-sizing: border-box;
    font-weight: $font-weight-light;

    @mixin responsive-property font-size, 24px, 40px, 50px;
    @mixin width-gutter padding, 45px, 1px;
    @mixin width-page;
    p {
      margin: 0 0 30px;
    }
  }

  &__actions-wrapper {
  }

  &__actions {
    box-sizing: border-box;

    @mixin width-gutter padding, 40px, 10px;
    @mixin width-page;
  }

  &__action {
    line-height: 24px;

    h3 {
      margin: 0 0 15px;
      color: $color-title;
    }

    p {
      margin: 0 0 30px;
    }
  }

  &__footer {
    height: 277px;
    background: transparent url(../img/iphone-screen-mobile@1x.png) 50% 0 no-repeat;

    @media (--tablet-viewport) {
      float: left;
      width: 200px;
    }
  }
}
