.promo {
  text-align: center;

  @media (--desktop-viewport) {
    font-size: 18px;
  }
  &__header-wrapper {
    background-color: $color-page;
  }

  &__header {
    box-sizing: border-box;
    font-weight: 300;

    @media (--mobile-viewport) {
      padding: 35px 0 5px;
      font-size: 24px;
    }

    @media (--tablet-viewport) {
      padding: 50px 0 40px;
      font-size: 40px;
    }

    @media (--desktop-viewport) {
      padding: 70px 0 55px;
      font-size: 50px;
    }
  }

  &__slogan {
    @media (--mobile-viewport) {
      margin-bottom: 23px;
    }

    @media (--tablet-viewport) {
      line-height: 48px;
    }

    @media (--desktop-viewport) {
      line-height: 58px;
    }
  }

  &__items-wrapper {
    background: svg-load('../img/bg-triangle-white.svg', fill=#fff) $color-secondary no-repeat 0 0;
    background-size: contain;
  }

  &__items {
    position: relative;
    line-height: $line-height-secondary;

    @media (--desktop-viewport) {
      line-height: $line-height-primary;
    }

  }

  &__items-inner {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 485px;

    @media (--mobile-viewport) {
      padding: 75px 0 285px;
    }

    @media (--tablet-viewport) {
      margin-left: auto;
      padding-top: 75px;
      padding-bottom: 15px;
      width: 50%;
    }

    @media (--desktop-viewport) {
      flex-direction: row;

      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 30px;

    @media (--tablet-viewport) {
      margin-bottom: 28px;
      text-align: left;
    }

    @media (--desktop-viewport) {
      padding: 20px 0 0;
      width: 300px;
      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    background-color: transparent;
    background-position: 50% 0;
    background-repeat: no-repeat;

    @media (--retina) {
      @media (--mobile-viewport) {
        background-size: 157px auto;
      }

      @media (--tablet-viewport) {
        background-size: 268px auto;
      }

      @media (--desktop-viewport) {
        background-size: 292px auto;
      }
    }
    &--image-1 {
      @media (--mobile-viewport) {
        display: none;
      }

      @media (--tablet-viewport) {
        display: none;
      }

      @media (--desktop-viewport) {
        background-image: url(../img/iphone-screen-1-desktop@1x.png);

        @media (--retina) {
          background-image: url(../img/iphone-screen-1-desktop@2.png);
        }
      }
    }

    &--image-2 {
      @media (--mobile-viewport) {
        display: none;
      }

      @media (--tablet-viewport) {
        display: none;
      }

      @media (--desktop-viewport) {
        background-image: url(../img/iphone-screen-2-desktop@1x.png);

        @media (--retina) {
          background-image: url(../img/iphone-screen-2-desktop@2.png);
        }
      }
    }

    &--image-3 {
      @media (--mobile-viewport) {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 280px;
        background-image: url(../img/iphone-screen-mobile@1x.png);

        @media (--retina) {
          background-image: url(../img/iphone-screen-mobile@2x.png);
        }
      }

      @media (--tablet-viewport) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 44%;
        height: 480px;
        background-image: url(../img/iphone-screen-3-tablet@1x.png);

        @media (--retina) {
          background-image: url(../img/iphone-screen-3-tablet@2x.png);
        }
      }

      @media (--desktop-viewport) {
        background-image: url(../img/iphone-screen-3-desktop@1x.png);

        @media (--retina) {
          background-image: url(../img/iphone-screen-3-desktop@2.png);
        }
      }
    }
  }

  &__title {
    margin-bottom: 10px;
    color: $color-title;
    font-size: 18px;
    line-height: $line-height-primary;

    @media (--tablet-viewport) {
      margin-bottom: 5px;
      line-height: $line-height-large;
    }

    @media (--desktop-viewport) {
      margin-top: 60px;
      margin-bottom: 22px;
      padding: 0 30px;
      font-size: 30px;
    }
    &--bottom {
      @media (--tablet-viewport) {
        font-size: 30px;
      }

      @media (--desktop-viewport) {
        margin-top: 70px;
        padding: 0;
        font-size: 30px;
      }

    }

    br {
      @media (--desktop-viewport) {
        display: none;
      }
    }
  }

  &__text {
    @media (--desktop-viewport) {
      padding: 0 30px;
    }
    &--bottom {
      @media (--desktop-viewport) {
        padding: 0;
      }
    }
  }

  &__footer-wrapper {
    @media (--tablet-viewport) {
      background-color: $color-page;
    }

    @media (--desktop-viewport) {
      background-color: $color-secondary;
    }
  }

  &__footer {
    display: flex;
    text-align: left;
    line-height: $line-height-secondary;

    @media (--mobile-viewport) {
      display: none;
    }

    @media (--desktop-viewport) {
     padding-bottom: 60px;
    line-height: $line-height-primary;
    }
  }

  &__timer-wrapper {
    @media (--tablet-viewport) {
      margin-top: 60px;
      width: 39%;
    }

    @media (--desktop-viewport) {
      margin-top: 35px;
    }

  }

  &__timer {
    display: flex;
    margin: 0 auto;
    background-image: svg-load('../img/icon-timer.svg', fill=$color-border);
    background-size: contain;
    background-repeat: no-repeat;

    @media (--tablet-viewport) {
      width: 240px;
      height: 277px;
    }

    @media (--desktop-viewport) {
      width: 298px;
      height: 345px;
    }
  }

  &__circle {
    display: flex;
    background-image: svg-load('../img/icon-editor-diagram-fill.svg', fill=$color-brand);
    background-size: contain;
    background-repeat: no-repeat;

    @media (--tablet-viewport) {
      margin: 55px auto;
      width: 203px;
      height: 203px;
    }

    @media (--desktop-viewport) {
      margin: 70px auto;
      width: 253px;
      height: 253px;
    }
  }

  &__time {
    color: $color-brand;
    font-weight: 700;
    line-height: $line-height-primary;

    @media (--tablet-viewport) {
      margin: 80px auto;
      font-size: 96px;
    }

    @media (--desktop-viewport) {
      margin: 105px auto 0;
      font-size: 120px;
    }
  }

  &__footer-item {
    @media (--tablet-viewport-plus) {
      margin-left: auto;
      padding-top: 100px;
      padding-bottom: 80px;
      width: 50%;
    }

    @media (--desktop-viewport) {
      padding: 60px 0;
      width: 61%;
    }
  }

  &__readmore {
    display: block;
    margin-top: 10px;
    color: $color-brand;
    text-decoration: underline;

    @media (--desktop-viewport) {
      margin-top: 30px;
    }
  }
}
