.promo {
  background-color: $color-secondary;
  text-align: center;
  line-height: $line-height-secondary;

  @media (--desktop-viewport) {
    font-size: 18px;
  }
  &__header-wrapper {
    background-color: $color-page;
  }

  &__header {
    box-sizing: border-box;
    font-weight: 300;
    line-height: $line-height-small;

    @mixin responsive-property font-size, 24px, 40px, 50px;

    @media (--mobile-viewport) {
      padding: 40px 0;
    }

    @media (--tablet-viewport) {
      padding: 50px 0;
    }

    @media (--desktop-viewport) {
      padding: 65px 0;
    }
  }

  &__slogan {
    @media (--mobile-viewport) {
      margin-bottom: 1.2em;
    }
  }

  &__actions-wrapper {
    position: relative;

    @mixin clearfix;
    @mixin width-gutter padding, 40px, 0px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media (--mobile-viewport) {
      padding-bottom: 295px;
    }

    @media (--tablet-viewport) {
      margin-top: 80px;
      margin-left: auto;
      width: 50%;
    }

    @media (--desktop-viewport) {
      flex-direction: row;
      width: 100%;
    }
  }

  &__action {
    margin-bottom: 30px;

    @media (--tablet-viewport) {
      margin-bottom: 38px;
      text-align: left;
    }

    @media (--desktop-viewport) {
      padding: 30px 30px 0;
      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    background: transparent url(../img/iphone-screen-mobile@1x.png) 50% 0 no-repeat;

    &--image-1,
    &--image-2 {
      @media (--mobile-viewport) {
        display: none;
      }

      @media (--tablet-viewport) {
        display: none;
      }
    }

    &--image-3 {
      @media (--mobile-viewport) {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 280px;
      }

      @media (--tablet-viewport) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 480px;
        background-position: 0 0;
      }
    }

  }

  &__title {
    margin-bottom: 10px;
    color: $color-title;
    font-size: 18px;
    line-height: 1;

    @media (--desktop-viewport) {
      margin-top: 55px;
      margin-bottom: 22px;
      font-size: 30px;
    }
    &--bottom {
      line-height: 1.17;

      @media (--tablet-viewport) {
        font-size: 30px;
      }
    }

    br {
      @media (--desktop-viewport) {
        display: none;
      }
    }
  }

  &__text {}

  &__footer-wrapper {
    @media (--tablet-viewport) {
      background-color: $color-page;
    }
  }

  &__footer {
    background: transparent url() 50% 0 no-repeat;
    text-align: left;

    @media (--mobile-viewport) {
      display: none;
    }
  }

  &__footer-inner {
    @media (--tablet-viewport-plus) {
      margin-left: auto;
      padding-top: 100px;
      padding-bottom: 80px;
      width: 50%;
    }

    @media (--desktop-viewport) {
      padding-top: 60px;
      padding-bottom: 115px;
      width: 61%;
    }
  }

  &__readmore {
    display: block;
    margin-top: 10px;
  }
}
