.reviews {
  text-align: center;
  line-height: $line-height-primary;

  @media (--desktop-viewport) {
    background: svg-load('../img/icon-quotes.svg', fill=$color-secondary) no-repeat 50% 70px;


  }
  &__inner {
    position: relative;
    padding: 40px 0 0;

    @media (--tablet-viewport) {
      padding: 50px 0 15px;
    }
  }

  &__items {
    margin-bottom: 25px;

    @media (--tablet-viewport) {
      margin-bottom: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @media (--desktop-viewport) {
      margin: 142px 120px 0;
    }
    &:nth-of-type(1),
    &:nth-of-type(3) {
      display: none;
    }
  }

  &__title {
    color: $color-title;

    @media (--mobile-viewport) {
      margin-bottom: 10px;
    }

    @media (--tablet-viewport-plus) {
      margin-top: 35px;
      margin-bottom: 0;
      font-size: 20px;

      order: 2;
    }

    @media (--desktop-viewport) {
      font-size: 24px;
    }
  }

  &__description {
    @media (--mobile-viewport) {
      display: none;
    }

    @media (--tablet-viewport-plus) {
      order: 3;
    }

    @media (--desktop-viewport) {
      font-size: 18px;
    }
  }

  &__text {
    line-height: $line-height-primary;

    @media (--tablet-viewport-plus) {
      font-size: 18px;

      order: 1;
    }

    @media (--desktop-viewport) {
      quotes: none;
    }

  }

  &__arrows {
    display: none;

    @media (--desktop-viewport) {
      position: absolute;
      top: 47%;
      display: flex;
      width: 100%;

      justify-content: space-between;
    }
  }

  &__arrow {
    @media (--desktop-viewport) {
      display: block;
      width: 21px;
      height: 41px;
      border: none;
      opacity: .3;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;
        opacity: 0.6;
      }

      &:active {
        opacity: 0.1;
      }

      &--left {
        background: svg-load('../img/icon-review-arrow-left.svg', fill=$color-primary) transparent no-repeat 0 0;
      }

      &--right {
        background: svg-load('../img/icon-review-arrow-right.svg', fill=$color-primary) transparent no-repeat 0 0;
      }
    }
  }

  &__switches {
    @media (--desktop-viewport) {
      display: none;
    }
  }
}
