.social {
  display: flex;

  align-items: center;
  &__link {
    display: flex;
    box-sizing: border-box;
    width: 51px;
    height: 51px;
    border: 3px solid $color-secondary;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (--tablet-viewport) {
      margin-right: 12px;
    }

    @media (--desktop-viewport) {
      margin-left: 12px;
    }
    &:hover {
      border-color: $color-primary;
    }

    &--twitter {
      background-image: svg-load('../img/icon-twitter.svg', fill=$color-brand);

    }

    &--facebook {
      background-image: svg-load('../img/icon-facebook.svg', fill=$color-brand);
    }

    &--youtube {
      background-image: svg-load('../img/icon-youtube.svg', fill=$color-brand);
      background-position-x: 55%; /* Так стоит делать? */
    }
  }

  &__logo {
    margin: auto;

  }
}
