.user-photos {
  &__item {
    margin: 0 $width-gutter $width-gutter;
  }

  &__info {
    padding: 17px;
    background: $color-secondary;
    line-height: 24px;
  }

  &__image {
    display: block;
  }

  &__user {}

  &__name {
    font-weight: 700;
  }

  &__date {
    text-transform: uppercase;
    font-weight: 300;
  }

  &__comment {
    margin-bottom: 10px;
  }

  &__like {
    margin-bottom: 5px;
    font-size: 12px;

    @mixin pink;
  }
}
