.user-photos {
  &__items {
    display: flex;
    flex-direction: row;

    @media (--mobile-viewport) {
      flex-direction: column;
    }

    @media (--tablet-viewport-plus) {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__item {
    /* display: flex;
    flex-direction: column; */
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: $color-secondary;

    @media (--tablet-viewport) {
      width: 48.38%;
    }

    @media (--desktop-viewport) {
      margin-bottom: 50px;
      width: 300px;
    }
    &--panorama {
      @media (--tablet-viewport) {
        margin-bottom: 50px;
        width: 100%;
      }

      @media (--desktop-viewport) {
        width: 100%;
      }
    }
  }

  &__panorama-wrapper {
    position: relative;
  }

  &__panorama {
    display: block;

    @media (--tablet-viewport-plus) {
      width: 100%;
    }
  }

  &__caption {
    position: absolute;
    padding: 10px 20px;
    background-color: $color-brand;
    color: $color-page;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;

    @media (--mobile-viewport) {
      top: 0;
      right: $width-gutter-mobile-relative;
    }

    @media (--tablet-viewport-plus) {
      top: 55px;
      right: $width-gutter-tablet-relative;
    }

    @media (--desktop-viewport) {
      right: $width-gutter-desktop;
    }
  }

  &__image {
    display: block;

    @media (--tablet-viewport) {
      box-sizing: border-box;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 17px 25px;
    line-height: $line-height-secondary;

    justify-content: flex-start;
    align-items: stretch;
    @media (--tablet-viewport-plus) {
      padding: 24px 28px 28px;
      min-height: 155px;
    }
    &--panorama {
      min-height: auto;

      @media (--tablet-viewport-plus) {
        flex-direction: row;
        min-height: auto;

        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }

  &__user {
    &--panorama {
      @media (--tablet-viewport-plus) {
        order: 1;
      }
    }
  }

  &__name {
    font-weight: 700;
  }

  &__date {
    text-transform: uppercase;
    font-weight: 300;
  }

  &__comment {
    margin-bottom: 15px;

    @media (--tablet-viewport-plus) {
      margin-bottom: 20px;
      min-height: 50px;
    }
    &--panorama {
      @media (--tablet-viewport-plus) {
        margin-bottom: 0;
        min-height: auto;

        order: 3;
      }
    }
  }

  &__like {
    display: flex;
    margin-top: auto;
    font-size: 12px;
    line-height: 1;

    @media (--tablet-viewport-plus) {
      flex-direction: row-reverse;

      justify-content: space-between;
    }
    @mixin pink;
    &--panorama {
      @media (--tablet-viewport-plus) {
        margin: 0;

        order: 2;
      }
    }

  }

  &__like-icon {
    width: 13px;
    height: 13px;
    background-image: svg-load('../img/icon-heart.svg', fill=$color-brand);
    background-position: 50% 50%;
    background-size: 13px 13px;
    background-repeat: no-repeat;
  }

  &__like-text {
    margin: 0 20px;

    @media (--mobile-viewport) {
      margin: 0 0 0 20px;
    }

    @media (--tablet-viewport-plus) {
      margin: 0 15px 0 0;
    }
  }
}
